{{define "GenerateRoute"}}
<form
  id="generate-route"
  _="on submit halt the event
  call login(event)
  set #response.innerHTML to it
  set the *display of #response to 'block'"
>
  <div>
    <input type="checkbox" name="generate" />
    <label for="remember">Generate new route.</label>
  </div>
  <small>Generating a new route will remove the old one.</small>
  <div>
    <input type="checkbox" name="remember" />
    <label for="remember">Long-lived token.</label>
  </div>
  <small
    >Do not share the long-lived token. A third party could re-use this token to
    hijack the route. As a security measure, fetching a route will delete old
    tokens. Note also that established connections persist after the token is
    expired.</small
  >
  <input type="submit" value="Fetch route" />
</form>
{{ end }}
